<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".cs" #>

public class T4Test
{

	<#for(int i = 0; i < 10; i++) { #>
		string loop<#=i#> = "This loop was called <#= i #> times";
	<#}#>
	
}